[submodule "UnityTwistedRope3D/Assets/Submodules/GameFoundationCore"]
	path = UnityTwistedRope3D/Assets/Submodules/GameFoundationCore
	url = git@github.com:tranvietanh0/GameFoundationCore.git
[submodule "UnityTwistedRope3D/Assets/Submodules/Extensions"]
	path = UnityTwistedRope3D/Assets/Submodules/Extensions
	url = git@github.com:tranvietanh0/Unity.Extensions.git
[submodule "UnityTwistedRope3D/Assets/Submodules/Logging"]
	path = UnityTwistedRope3D/Assets/Submodules/Logging
	url = git@github.com:tranvietanh0/Unity.Logging.git
[submodule "UnityTwistedRope3D/Assets/Submodules/UITemplate"]
	path = UnityTwistedRope3D/Assets/Submodules/UITemplate
	url = git@github.com:tranvietanh0/UITemplate.git
